.bar {
    border: solid #2f2f2f 1px;
    border-radius: 20px;
    height: 20px;
    margin-top:3px;
    margin-bottom:3px;
    transition : height .5s, margin .5s, border-width .5s;
}

.chart {
    border: solid black 1px;
    position: relative;
    width: 500px;
    transition: height .7s;
}

.tick {
    display: inline-block;
    width: 0px;
}

.ybar {
    border-left: 1px dashed rgb(175, 175, 175);
    transition: height .5s;
}

.name {
    height: 20px;
    margin-top:3px;
    margin-bottom:3px;
    transition : height .5s;
}

.details {
    background-color: rgb(252, 252, 252);
    border: solid gray 1px;
    border-radius: 20px;
    color: rgb(0, 100, 255);
    line-height: 1;
    margin: 0px;
    opacity: .8;
    padding: 5px;
    position: absolute;
    text-align: center;
}

div.details p {
    margin: 0px;
}
